<!-- NEED Module ID -->
<section id='module-grid-1' class='slide module module-grid'>
	<div class='module-grid-wrapper twenty columns column-first'>
		<div class='grid-sizer'></div>
		<!-- NEED Module photos-->
		<div class='grid-photo'>
			<%=image_tag('test/grid-01.jpg')%>
		</div>
		<div class='grid-photo'>
			<%=image_tag('test/grid-02.jpg')%>
		</div>
		<div class='grid-photo'>
			<%=image_tag('test/grid-03.jpg')%>
		</div>
		<div class='grid-photo'>
			<%=image_tag('test/grid-04.jpg')%>
		</div>
		<div class='grid-photo'>
			<%=image_tag('test/grid-05.jpg')%>
		</div>
		<div class='grid-photo'>
			<%=image_tag('test/grid-06.jpg')%>
		</div>
	</div>
</section>