<% unless grids.nil? %>
  <% grids.each do | grid| %>
    <% if grid.id == mod[0].to_i %>


      <% if grid.photos.size > 0 && grid.photos.size == 1 %>
        <% grid.photos.each do |photo| %>
          <div class='module-one module uk-width-1-1 wh-height-viewport uk-grid uk-margin-bottom'>
            <!-- Thumbnail -->
            <div class='wh-height-eighty uk-width-9-10 uk-grid-collapse'>
              <a href='<%=photo[0].photo_file%>' data-uk-lightbox title="<%=@map.name%>">
                <figure class="uk-cover-background uk-width-1-1 wh-height-full" style="background-image:url(<%=photo[0].photo_file%>)">
                  <div class='wh-whirl uk-h4 uk-container uk-margin-top'><i class='fa fa-heart-o uk-text-primary uk-float-right uk-margin-top'></i></div>
                  <img class="uk-invisible" src="<%=photo[0].photo_file%>" width="" height="" alt="">
                </figure>
              </a>
            </div>

            <!-- Activity for all -->
            <div class='wh-mod-meta wh-height-eighty uk-width-1-10 uk-text-small uk-text-muted'>
              <p class='wh-italics'>
                Updated <br><%=photo[0].updated_at.strftime("%B %d, %Y") %>
              </p>
              <p>Comments will go here.</p>
            </div> 

            <!-- Tags and caption for all -->
            <div class='uk-width-9-10 uk-margin-top'>
              <%= render partial: "maps/show_pieces/module_taglist", :locals => { :taglist => grid.taglist, :collaborators => collaborators } %>
              <p>Bacon ipsum dolor amet beef ribs doner kevin meatball turkey meatloaf. Kielbasa venison ground round pork strip steak shoulder landjaeger meatloaf fatback corned beef andouille frankfurter. Turducken</p>
            </div>
          </div> <!-- end module -->
        <%end%> <!-- each photo -->
      <% end %> <!-- if one photo -->


    <%end%> <!-- if order -->
  <%end%> <!-- each -->
<%end%> <!-- unless -->
