<div class='wh-mod-meta wh-height-ninety uk-width-1-10 uk-text-muted commentable-section' data-section-id='<%=mod.class.name%>-<%=mod.id%>'>
	<div class='wh-activity uk-position-relative'>

			<a class='wh-js-whirl uk-text-primary uk-display-block uk-position-absolute' data-whirl-type='mod' ><i class="icon-whirl icon-whirl-off uk-h2"></i></a>

			<span class='wh-side-count uk-text-muted uk-position-absolute'><%=mod.whirls + 12 %></span>
	</div>
</div>

<%if mod.class.name == 'Video' %>
	<div class='uk-width-7-10'>
		<%=mod.video_text %>
	</div>
	<div class='wh-mod-updated uk-width-2-10 uk-text-right uk-text-muted uk-text-small'>
		Updated<br>
		<span class='wh-italics wh-mod-updated'><%=mod.updated_at.strftime("%B %d, %Y")%></span>
	</div>

<%else%>
	<div class='wh-mod-updated uk-width-9-10 uk-text-right uk-text-muted uk-text-small'>
		Updated<br>
		<span class='wh-italics wh-mod-updated'><%=mod.updated_at.strftime("%B %d, %Y")%></span>
	</div>
<% end %>
