<div class='eight columns'>
  <div class='input-wrapper'>
    <label for 'project-location' class='input-label light'>Location</label>
    <textarea id="project-location" type="text_field"  class='char-limited font_small'><%=@map[:location]%></textarea>
  </div>
</div>
<div class='four columns offset-two'>
  <div class='input-wrapper'>
    <label for 'project-lat' class='input-label light'>Latitude</label>
    <textarea id="project-lat" type="text_field"  class='char-limited font_small'><%=@map[:lat]%></textarea>
  </div>
</div>
<div class='four columns offset-two'>
  <div class='input-wrapper'>
    <label for 'project-lon' class='input-label light'>Longitude</label>
    <textarea id="project-lon" type="text_field"  class='char-limited font_small'><%=@map[:lon]%></textarea>
    <input type="hidden" id="project-id" value= <%=@map[:id]%>>
  </div>
</div>
<script> <%= render :partial => "maps/maps_js_rb/geocoder", :formats => [:js] %> </script>