<article class="temp-preloader hidden">
	<h1 class='h3-size h-centered v-centered'>Uploading...</h1>
	<div class='progress-bar-wrapper'>
		<div class='progress-bar'></div>
	</div>
</article>

<nav id='navbar-create' class='hidden'>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoState" %>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoCats" %>
</nav>

<section id='photos-uploaded' class='photo-list first-section scrollable'>
	<div id='photos-aerial'>
		<div class='photo-row row group wrapper'>
			<article id='photo-upload' class='preview six columns h-centered'>
				<div class='img-wrapper photo-upload-wrapper v-centered'>
						<i class='fa fa-plus-circle h1-size'></i>
				</div>
				<%= form_for [@user_gallery, @photo], :remote => true do %>
					<input id='photo-upload-input' type='file' name='photo[photo_file]' multiple/>
			    <input type="hidden" name="user-gal-id" id= "user-gal-id" value= <%=@user_gallery[:id]%>>
				<% end %>
			</article>
		</div> <!-- end row group -->
	</div>
	<div id='photos-street' class='hidden invisible'>
		<div class='photo-row row group wrapper'>
			<article id='photo-upload' class='preview six columns h-centered'>
				<div class='img-wrapper photo-upload-wrapper v-centered'>
						<i class='fa fa-plus-circle h1-size'></i>
				</div>
				<%= form_for [@user_gallery, @photo], :remote => true do %>
					<input id='photo-upload-input' type='file' name='photo[photo_file]' multiple/>
			    <input type="hidden" name="user-gal-id" id= "user-gal-id" value= <%=@user_gallery[:id]%>>
				<% end %>
			</article>
		</div> <!-- end row group -->
	</div>

</section>

<section id='photos-saved' class='photo-list first-section scrollable hidden'>
	<div class='photo-row row group wrapper'>
	</div> <!-- end row group -->
</section>
<%= javascript_include_tag "/javascripts/jquery-file-upload/jquery.fileupload.js" %>