<article class="temp-preloader hidden">
	<h1 class='h3-size h-centered v-centered'>Uploading...</h1>
	<div class='progress-bar-wrapper'>
		<div class='progress-bar'></div>
	</div>
</article>


<nav id='navbar-photo-manager' class='sticky-nav'>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoState" %>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoCats" %>
</nav>

<section id='photos-uploaded' class='photo-list first-section scrollable'>

	<div id='photos-aerial'>
		<div class='photo-row row group wrapper'>
		</div> <!-- end row group -->
	</div>
	<div id='photos-street' class='hidden invisible'>
		<div class='photo-row row group wrapper'>
		</div> <!-- end row group -->
	</div>
</section>


<section id='photos-saved' class='photo-list first-section scrollable hidden'>

	<% aerial = [] %>
	<% street = [] %>
	<% @user_gallery.photos.each do |photo| %>
		<% if photo.is_aerial %>
			<% aerial << photo %>
		<% elsif photo.is_normal %>
			<% street << photo %>
		<% end %>
	<% end %>

	<div id='photos-aerial'>	
		<div class='photo-row row group wrapper'>	
			<% aerial.each_with_index do |photo, index| %>
						<%= render :partial => 'maps/map_info_pieces/side_sortState', :locals => { :photo => photo, :index => index } %>
			<% end %>
		</div>
	</div>

	<div id='photos-street' class='hidden invisible'>	
		<div class='photo-row row group wrapper'>	
			<% street.each_with_index do |photo, index| %>
						<%= render :partial => 'maps/map_info_pieces/side_sortState', :locals => { :photo => photo, :index => index } %>
			<% end %>
		</div>
	</div>

</section>


<%= javascript_include_tag "/javascripts/jquery-file-upload/jquery.fileupload.js" %>