<nav id='photo-manager-nav' class=''>
 
  <div id='photo-select' class="uk-margin-bottom">
    <button id='title' class="uk-button" disabled>Photo Manager</button>

    <button id='view-switch' class="uk-button" data-uk-tooltip="{pos:'bottom-left'}" title="Switch View"><i class='fa fa-th-large'></i></button>
    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false" data-uk-tooltip="{pos:'bottom-left'}" title="Sort Photos">
      <button class="uk-button"><i class='fa fa-sort'></i></button>
      <div class="uk-dropdown">
          <ul class="uk-nav uk-nav-dropdown">
            <li class="uk-nav-header">Sort Photos:</li>
            <li><a href="#" class='sort' data-sort='created:desc'>Newest</a></li>
            <li><a href="#" class='sort' data-sort='created:asc'>Oldest</a></li>
            <li><a href="#" class='sort' data-sort='user-id:asc'>User</a></li>
          </ul>
      </div>
    </div>

    <div class="uk-form-file" data-uk-tooltip="{pos:'bottom-left'}" title="Upload More Photos">
      <button class="uk-button"><i class='fa fa-upload'></i></button>
      <%= form_for [@user_gallery, @photo], :multipart => true , :remote => true do %>
        <input id='photo-upload-input' type='file' name='photo[photo_file]' multiple/>
        <input type="hidden" name="user-gal-id" id= "user-gal-id" value= <%=@user_gallery[:id]%>>
      <% end %>
    </div>
  </div> <!-- end .uk-flex -->

  <div id='photo-type'>
    <p class="uk-text-small uk-margin-left">Photo Type <i class='fa fa-info-circle fa-lg' data-uk-tooltip="{pos:'bottom-left'}" title="We sorted your photos for you!"></i></p>
    <ul class="uk-subnav uk-subnav-pill uk-text-small uk-container-center">
      <li data-filter='all' class='filter uk-active'><a href="#">All</a></li>
      <li class='filter' data-filter='.aerial'><a href="#">Aerial</a></li>
      <li class='filter' data-filter='.normal'><a href="#"> Street</a></li>
      <li class='filter' data-filter='.people'><a href="#">People</a></li>
    </ul>
  </div>
</nav>

<div id='loader' class='uk-text-center uk-margin-top uk-text-middle uk-animation-slide-bottom uk-contrast uk-hidden'>
  <p class='uk-text-large'>Uploading & sorting your photos...</p>
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<section id='preview-list' class="container">
  <% @gallery_photos.each do |photo| %>
    <% user = User.find(photo.user_gallery.user_id) %>

    <% if photo.is_aerial %>
    <% type = 'aerial' %>
    <article id='preview-<%=photo.id%>' class='uk-overlay-hover <%=type%> preview mix mix-half uk-overlay img-wrapper' data-img-id='<%=photo.id%>' data-img-type='<%=type%>' data-user-id='<%=user.id%>' data-warpable-id='<%=photo.warpable_id%>' data-warpable-url='<%=photo.warpable_url%>' data-created='<%=photo.created_at.to_i%>' style="background-image:url('<%=photo.photo_file%>')">


    <% elsif photo.is_normal %>
    <% type = 'normal' %>
    <article id='preview-<%=photo.id%>' class='uk-overlay-hover <%=type%> preview mix mix-half uk-overlay img-wrapper' data-img-id='<%=photo.id%>' data-img-type='<%=type%>' data-user-id='<%=user.id%>' data-warpable-id='<%=photo.warpable_id%>' data-warpable-url='<%=photo.warpable_url%>' data-created='<%=photo.created_at.to_i%>' style="background-image:url('<%=photo.photo_file%>')">

    <% end %>

      <%# user_id = photo.last.user_gallery.user_id %>
      <div class="uk-overlay-panel uk-overlay-background uk-overlay-slide-bottom">
        <a class='photo-delete'><i class='fa fa-remove uk-float-right uk-text-large uk-text-danger'></i></a>
        <p class='uk-text-small'>Updated on <br><%=photo.created_at.strftime(" %B %d, %Y")%></p>
        <p class='uk-text-small'>Posted by <a href='/users_profiles/<%=user.id%>'><%=user.login%></a>
      </div>      
    </article>
  <% end %>
</section>
<%= javascript_include_tag "/javascripts/jquery-file-upload/jquery.fileupload.js" %>
















