<nav id='navbar-photo-manager' class='sticky-nav eight h-centered'>
	<select id='photo-state'>
	  <option value="uploaded" selected='selected'>Current Photos</option>
	  <option value="saved" >Saved (<%= @user_gallery.photos.count%>)</option>
	</select>
	<ul id='photo-types' class='inline-list'>
		<li id='aerial' class='item'>Aerial</li>
		<li id='normal' class='item'>Street</li>
	</ul>
</nav>

<section id='photos-uploaded' class='photo-list first-section scrollable eight'>
	<article id='photo-upload' class='h-centered'>
		<div class='img-wrapper photo-upload-wrapper v-centered'>
				<i class='fa fa-plus-circle h1-size'></i>
		</div>
		<%= form_for [@user_gallery, @photo], :multipart => true , :remote => true do %>
			<input id='photo-upload-input' type='file' name='photo[photo_file]' multiple/>
	    <input type="hidden" name="user-gal-id" id= "user-gal-id" value= <%=@user_gallery[:id]%>>
		<% end %>
	</article>

</section>

<section id='photos-saved' class='photo-list first-section scrollable eight hidden'>
	<% @user_gallery.photos.each do |photo| %>
		<% if photo.is_aerial %>
			<% type = 'aerial' %>
			<article class='preview h-centered pull-left aerial' id='preview-<%=photo.id%>'>
		<% elsif photo.is_normal %>
			<% type = 'normal' %>
			<article class='preview h-centered pull-left normal' id='preview-<%=photo.id%>'>
		<% end %>
			<div class='img-wrapper v-centered'>
				<button class='photo-remove font_small h-centered hidden'><i class='fa fa-remove'></i></button>
				<%= image_tag(photo.photo_file, :class => 'draggable', :data => {:img_id => photo.id, :img_type => type }) %>
			</article>
	<% end %>

</section>


<%= javascript_include_tag "/javascripts/jquery-file-upload/jquery.fileupload.js" %>
