<nav id='navbar-create'>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoState" %>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoCats" %>
</nav>
<section id='photos-uploaded' class='photo-list first-section scrollable'>

	<div class='photo-row row group wrapper'>
		<article class='preview img-wrapper six columns h-centered'>
			<div class='img-wrapper v-centered'>
				<div class='img-wrapper'>
					<%= image_tag("test/vertical.png", :alt => "", :class=>'draggable') %>
				</div>
			</div>
		</article>
		<article class='preview six columns h-centered'>
				<div class='img-wrapper v-centered'>
					<%= image_tag("test/comparison-02.png", :alt => "", :class=>'draggable') %>
				</div>
		</article>
	</div> <!-- end row group -->
	<div class='photo-row row group wrapper'>
		<article class='preview img-wrapper six columns h-centered'>
			<div class='img-wrapper v-centered'>
				<div class='img-wrapper'>
					<%= image_tag("test/vertical.png", :alt => "", :class=>'draggable') %>
				</div>
			</div>
		</article>
		<article class='preview six columns h-centered'>
				<div class='img-wrapper v-centered'>
					<%= image_tag("test/comparison-02.png", :alt => "", :class=>'draggable') %>
				</div>
		</article>
	</div> <!-- end row group -->
	<div class='photo-row row group wrapper'>
		<article class='preview img-wrapper six columns h-centered'>
			<div class='img-wrapper v-centered'>
				<div class='img-wrapper'>
					<%= image_tag("test/vertical.png", :alt => "", :class=>'draggable') %>
				</div>
			</div>
		</article>
		<article class='preview six columns h-centered'>
				<div class='img-wrapper v-centered'>
					<%= image_tag("test/comparison-02.png", :alt => "", :class=>'draggable') %>
				</div>
		</article>
	</div> <!-- end row group -->
	<div class='photo-row row group wrapper'>
		<article class='preview img-wrapper six columns h-centered'>
			<div class='img-wrapper v-centered'>
				<div class='img-wrapper'>
					<%= image_tag("test/vertical.png", :alt => "", :class=>'draggable') %>
				</div>
			</div>
		</article>
		<article class='preview six columns h-centered'>
				<div class='img-wrapper v-centered'>
					<%= image_tag("test/comparison-02.png", :alt => "", :class=>'draggable') %>
				</div>
		</article>
	</div> <!-- end row group -->

</section>

<section id='photos-saved' class='photo-list first-section scrollable hidden'>
	<div class='photo-row row group wrapper'>
	</div> <!-- end row group -->
</section>