<div id='project-creation' class='row group'>
  <section id='photo-manager' class='side-nav four columns'>
    <%= render :partial => "maps/map_info_pieces/side" %>
  </section>
  <div id='project-form' class='eight columns'>
    <section id='project-header'>
      <div class='wrapper'>

          <div class='row group'>
            <%= render :partial => "maps/map_info_pieces/form_title" %>
          </div>

          <div class='row group'>
            <%= render :partial => "maps/map_info_pieces/form_location" %>
          </div>

          <div class='row group'>
             <%= render :partial => "maps/map_info_pieces/form_description" %>
          </div>

          <div class='row group'>
           <%= render :partial => "maps/map_info_pieces/form_tags" %>
          </div>

      </div>
    </section> <!-- end #project-header -->

    <!-- <section id="knitter-map-pane"></section> -->
  <%= render :partial => "maps/map_info_pieces/buttonBar" %>

  </div> <!-- end #project-form -->
</div> <!-- end #project-creation -->
