
<div id='project-creation-2' class='row group' data-user-gallery-id = '<%=@user_gallery.id%>' data-map-id = '<%=@map.id%>' data-map-lat='<%= @map.lat %>' data-map-lon='<%= @map.lon %>'>
  <section id='photo-manager' class='six columns'>
    <%= render :partial => "maps/map_info_pieces/side" %>
  </section>

  <article class="temp-preloader six columns hidden">
    <h1 class='h3-size h-centered v-centered'>Uploading...</h1>
    <div class='progress-bar-wrapper'>
      <div class='progress-bar'></div>
    </div>
  </article>

  <section class='eighteen columns'>
    <section id="knitter-map-pane" class='hidden'></section>
  </section>
  </div> <!-- end #project-form -->
</div> <!-- end #project-creation -->

