
<div id='project-creation-2' data-user-gallery-id = '<%=@user_gallery.id%>' data-user-name='<%=@user_name%>' data-user-id='<%=@user_id%>' data-map-id = '<%=@map.id%>' data-map-lat='<%= @map.lat %>' data-map-lon='<%= @map.lon %>'>
	
	<div class='uk-grid uk-grid-small'>
	  <section id='photo-manager' class='uk-width-1-4'>
	    <%= render :partial => "maps/map_info_pieces/side" %>
	  </section>

	  <div id='project-top' class='uk-width-3-4'>
	  	<section id='project-map' class='uk-grid uk-grid-collapse'>
		  	<div class='uk-width-7-10'>
			  	<div id='knitter-map-pane' class='uk-margin-top droppable'>	  		
			  	</div>
			  </div>
		  	<div id='project-form' class='uk-width-3-10 uk-margin-top'>

			  	<form class="uk-accordion uk-form uk-form-stacked uk-width-9-10" data-uk-accordion>

				  	<!-- Project Title -->
						<label id='name-label' class="uk-accordion-title uk-form-label uk-text-muted" for="project-name">Title
							<i class='fa fa-spinner uk-hidden fa-spin uk-float-right uk-vertical-align-middle'></i>
							<i class='fa fa-check-circle uk-animation-fade uk-float-right uk-text-success uk-vertical-align-middle'></i>
						</label>
				    <div class="uk-accordion-content uk-padding-remove input-wrapper uk-margin-top">
		        	<textarea id='project-name' type="text" placeholder="Project Title" class="uk-width-1-1" maxlength='70'><%=@map.name%></textarea>
		        	<small class='char-limit uk-text-muted uk-invisible' data-limit='70'>70</small>
				    </div>

				    <!-- Project Location -->
						<label id='location-label' class="uk-accordion-title uk-form-label uk-text-muted" for="project-location">Location
							<i class='fa fa-spinner uk-hidden fa-spin uk-float-right uk-vertical-align-middle'></i>
							<i class='fa fa-check-circle uk-animation-fade uk-float-right uk-text-success uk-vertical-align-middle'></i>
						</label>
				    <div class="uk-accordion-content uk-padding-remove input-wrapper uk-grid uk-margin-bottom">
								<div class='uk-width-1-1 uk-margin-top'>
									<input id='project-location' type="text" placeholder="Location" class="uk-width-1-1" value='<%=@map.location%>'>
								</div>

								<div class="uk-width-5-10 uk-margin-top">
					        <label id='lat-label' class="uk-form-label uk-text-muted" for="project-lat">Latitude:</label>
				        	<input id='project-lat' type="text" placeholder="Latitude" class="uk-width-1-1" value='<%=@map.lat%>'>
				        </div>
				        <div id='lon-label' class="uk-width-5-10 uk-margin-top">
				        	<label class="uk-form-label uk-text-muted" for="project-lon">Longitude:</label>
				        	<input id='project-lon' type="text" placeholder="Longitude" class="uk-width-1-1" value='<%=@map.lon%>'>
				        </div>
				    </div>

				  	<!-- Project Description -->
						<label id='description-label' class="uk-accordion-title uk-form-label uk-text-muted" for="project-description">Description
							<i class='fa fa-spinner uk-hidden fa-spin uk-float-right uk-vertical-align-middle'></i>
							<i class='fa fa-check-circle uk-animation-fade uk-float-right uk-text-success uk-vertical-align-middle'></i>
						</label>
				    <div class="uk-accordion-content uk-padding-remove input-wrapper uk-margin-top">
		        	<textarea id='project-description' type="text" placeholder="Project Description" class="uk-width-1-1" maxlength='200'><%=@map.description%></textarea>
		        	<small class='char-limit uk-text-muted uk-invisible' data-limit='200'>200</small>
				    </div>
					</form>

			    <label id='cover-photo-label' class='uk-form-label uk-text-muted' for='profile-upload'>Cover Photo:</label>
			    <div class="uk-form-file" data-uk-tooltip="{pos:'bottom-left'}" title="Upload a cover photo for your project.">
  					<div class="uk-placeholder uk-text-center droppable">
							<i class='fa fa-upload fa-lg uk-text-muted uk-margin-small-right'></i>Upload a cover photo here.
						</div>
			      <%= form_for [@user_gallery, @photo], :multipart => true , :remote => true do %>
			        <input id='cover-photo-upload' type='file' name='photo[photo_file]' multiple/>
			        <input type="hidden" name="user-gal-id" id= "user-gal-id" value= <%=@user_gallery[:id]%>>
			      <% end %>
			    </div>

			    <div class='uk-form uk-form-stacked'>
			    	<label id='cover-photo-label' class='uk-form-label uk-text-muted' for='project-tag_list'>Tags:</label>
			    	<input id='project-tag_list' class='tag-input uk-width-9-10'/>
				    <div id='tag-container' class='tag-container'>
				      <% unless @maptags.nil? || @maptags.blank? %>
				        <% @map.tags.each do |tag| %>
				          <span class='project-tag cursor-def light font_small'># <%= tag.name %> </span>
				        <% end %>
				      <% end %>
				    </div>
				   </div>

		  	</div>
		  </section>

	</div>
	<div class='uk-width-1-4'>
		
	</div>
	<div class='uk-width-3-4'>
			<section id='module-content' class='uk-grid'>
		    <%= render :partial => "/maps/map_info_pieces/buttonBar" %>
			</section>
	</div>

</div> <!-- end #project-creation -->

      <div id='finish-bar' class='uk-width-1-1 uk-margin-top uk-margin-bottom'>
			  <div class="uk-button-group uk-float-right uk-container">
			    <button id='cancel' class="uk-button uk-button-large">Cancel</button>
			    <button id='finish' class='uk-button uk-button-primary uk-button-large'>Finish</button>
				</div>
      </div>
