
<div id='project-creation-2' class='uk-grid' data-user-gallery-id = '<%=@user_gallery.id%>' data-user-name='<%=@user_name%>' data-user-id='<%=@user_id%>' data-map-id = '<%=@map.id%>' data-map-lat='<%= @map.lat %>' data-map-lon='<%= @map.lon %>'>
  <section id='photo-manager' class='uk-width-1-4'>
    <%= render :partial => "maps/map_info_pieces/side" %>
  </section>

  <section id='project-form' class='uk-width-3-4'>
    
  </section>

</div> <!-- end #project-creation -->

