


<div id='project-show'>


<section id='project-header' class='first-slide slide row group'>
	<div class='header-wrapper ten columns column-top column-first'>
			<div class='row group'>
				<h1 class='project-name twenty-four columns bold caps'><%=@map.name%></h1>
			</div> <!-- end row group -->

			<%=render :partial => 'maps/show_pieces/project_meta' %>

			<div class='row group pos-rel'>
				<%#= render :partial => "maps/show_pieces/project_taglist" %>
				<p id='project-description' class='pos-abs'><%=@map.description%></p>

			</div> <!-- end row group -->

			<!-- <div class='row group pos-rel'> -->

			<!-- </div> end row group	 -->

		</div> <!-- end header-wrapper -->

		<div id='project-map-wrapper' class='map-wrapper twelve columns column-top pull-right'>
			<div id='knitter-map-pane' class='map-pane'></div>
		</div>

		<div id='project-action-bar' class='row group invisible pos-abs'>
			<div id='favorited' class='four columns column-first'>
				<!-- NEED: favorites or votes -->
				<span class='caps'>Whirled <%= @map.votes_for.size%> times</span>
			</div>
			<div id='project-edit' class='four columns'>
			 <!-- NEED: edit or request to edit path -->
				<span class='caps'><a href='/'>Edit Projects</a></span>
			</div>
			<div id='project-like-share' class='fourteen columns h-righted'>

				<!-- NEED: like or vote path -->
				<i class='fa fa-heart-o cursor-point h4-size'></i>

				<!-- NEED: share path -->
				<i class='fa fa-share-square-o cursor-point h4-size'></i>
			</div>
		</div>
	</section>

<!--- should out the below in a helper method later dot DRY it up?  -->
   <!-- splits -->

   <% mod_orders =  @user_gallery.arrange_modules(@user_gallery.module_order) %>
		<% unless mod_orders.nil?%>
		<% mod_orders.each do | mod| %>
 			<!-- grids -->
			<%if mod[1]  == "grid" %>
			<% unless @grids.nil? %>
				<% @grids.each do | grid| %>
				<% if grid.id == mod[0].to_i %>
					<%= render partial: "maps/show_pieces/module_grid", :locals => {:grid => grid} %>
					<%= render partial: "maps/show_pieces/module_taglist", :locals => {:taglist => grid.taglist} %>
				<%end%>
			<%end%>
			<%end%>
			 <!-- comps -->
			<%elsif mod[1]  == "comparison" %>
				<% unless @comps.nil? %>
				<% @comps.each do |comp| %>
					<% if comp.id == mod[0].to_i %>
						<%= render partial: "maps/show_pieces/module_comparison", :locals => {:comp => comp} %>
						<%= render partial: "maps/show_pieces/module_taglist", :locals => {:taglist => comp.taglist} %>
					<% end %>
				<%end%>
						<%end%>
			<!-- splits -->
			<%elsif mod[1]  == "split" %>
			<% unless @splits.nil? %>
				<% @splits.each do |split| %>
					<% if split.id == mod[0].to_i %>
						<%= render partial: "maps/show_pieces/module_split", :locals => {:split => split} %>
						<%= render partial: "maps/show_pieces/module_taglist", :locals => {:taglist => split.taglist} %>
					<% end %>
				<% end %>
				<% end %>

			<!-- block text -->
		 <%elsif mod[1]  == "text" %>
		 		<% @block_texts.each do |block| %>
		 			<% if block.id == mod[0].to_i %>
						<%= render partial: "maps/show_pieces/module_text", :locals => {:block => block} %>
						<%= render partial: "maps/show_pieces/module_taglist", :locals => {:taglist => block.taglist} %>
					<% end %>
				<% end %>
	  <% end %>
	<% end %>
	<% end %>

	<%= render partial: "maps/show_pieces/nearby_maps" %>

<%= render partial: "maps/show_pieces/comments"%>


<!-- but we'll need the decorating html to add to it -->
