<div id='project-show'>
	<section class='project-header slide row group'>
		<div class='project-info-wrapper nine columns column-top column-first'>
			<div class='row group'>
				<h1 class='project-name twenty-four columns bold caps'><%=@map.name%></h1>
			</div> <!-- end row group -->

			<div class='row group push-down'>
				<h2 class='user-meta five columns h5-size bold'>

					<!-- NEED: user profile path-->
					<a href='' class=''><%=@user.login%></a>
				</h2>

				<h2 class='sixteen offset-two columns h5-size bold'><%=@map.location%></h2>

			</div> <!-- end row group -->

			<div class='row group'>
				<%= render :partial => "maps/show_pieces/project_taglist" %>
			</div> <!-- end row group -->

			<div class='row group'>
				<p class='twenty-four columns'><%=@map.description%></p>
			</div> <!-- end row group -->	

		<div class='map-wrapper twelve columns column-top pull-right'>
			<div id='knitter-map-pane'></div>
		</div>

		<div id='project-action-bar' class='row group invisible'>
			<div id='favorited' class='four columns column-first'>
				<!-- NEED: favorites or votes -->
				<span class='caps'>Favorited 1,822 times</span>
			</div>
			<div id='project-edit' class='four columns'>
			 <!-- NEED: edit or request to edit path -->
				<span class='caps'><a href='/'>Edit Projects</a></span>
			</div>
			<div id='project-like-share' class='fourteen columns h-righted'>

				<!-- NEED: like or vote path -->
				<i class='fa fa-heart-o cursor-point h4-size'></i>

				<!-- NEED: share path -->
				<i class='fa fa-share-square-o cursor-point h4-size'></i>
			</div>
		</div>
	</section>

<!-- All the MODULE stuff is in here! -->

<!-- but we'll need the decorating html to add to it -->

<%= render :partial => "maps/show_pieces/module_grid"%>
<%= render :partial => "maps/show_pieces/module_text"%>
<%= render :partial => "maps/show_pieces/module_split"%>
<%= render :partial => "maps/show_pieces/module_comparison"%>


