<section id = 'login' class='first-section'>
  <div class='wrapper'>
    <div class='row group'>
      <div class='twelve columns'>
        <h2>Sign up</h2>
        <% resource.build_user_profile %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :login %><br />
          <%= f.text_field :login, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <%= f.fields_for :user_profile do |profile_form| %>
        <div class="field">
          <%= profile_form.label :first_name %>
          <%= profile_form.text_field :first_name %>
        </div>
        <div class="field">
          <%= profile_form.label :last_name %>
          <%= profile_form.text_field :last_name %>
        </div>
        <div class="field">
          <%= profile_form.label :location %>
          <%= profile_form.text_field :location %>
        </div>
        <% end %>
        <div class="actions">
          <button class='submit'><%= f.submit "Sign up" %></button>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
