<section id = 'login' class='first-section'>
  <div class='wrapper'>
    <div class='row group'>
      <div class='twelve columns'>
        <h2>Edit Your Profile</h2>
      <%= form_for [@user, @user_profile] do |profile_form| %>
       <div class="field">
          <%= profile_form.label :first_name %>
          <%= profile_form.text_field :first_name %>
        </div>
        <div class="field">
          <%= profile_form.label :last_name %>
          <%= profile_form.text_field :last_name %>
        </div>
        <div class="field">
          <%= profile_form.label :location %>
          <%= profile_form.text_field :location %>
        </div>
         <div class="field">
          <%= profile_form.label :description %>
          <%= profile_form.text_field :description %>
        </div>
         <div class="field">
          <%= profile_form.hidden_field(:photo_file_cache) %>
          <%= profile_form.file_field(:photo_file) %>
        </div>
         <div class="field">
          <%= profile_form.label :taglist %>
          <%= profile_form.text_field :taglist %>
        </div>

        <div class="actions">
          <button class='submit'><%= profile_form.submit "Submit" %></button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
