<%= form_for @map, :html => { :id => 'project-form-new', :class => 'uk-form uk-form-stacked' } do |f| %>
    <legend>Create your project</legend>
    <%= render 'layouts/error_messages', object: f.object %>  
    <div class="uk-grid">
        <div class="uk-width-1-1 input-wrapper">
          <%= f.label :name, 'Title', :class => 'uk-form-label uk-text-muted' %> 
          <%=  f.text_area :name,
                           :name => 'name',
                           :rows => '0',
                           :class => 'uk-width-1-1 char-limited',
                           :id => 'project-name',
                           :placeholder => 'Title',
                           :maxlength => 70 %>
          <small class='char-limit uk-invisible' data-limit='70'>70</small>
        </div>
        <div class="uk-width-1-2 input-wrapper uk-margin-top">
          <%= f.label :name, 'Location', :class => 'uk-form-label uk-text-muted' %> 
          <%= f.text_field :location,
                           :class => 'uk-width-1-1',
                           :id => 'project-location',
                           :placeholder => 'Location' %>
        </div>
        <div class="uk-width-1-4 uk-margin-top">
          <%= f.label :lat, 'Latitude', :class => 'input-label light' %>
          <%= f.text_field :lat,
                            :id => 'project-lat',
                            :class => 'uk-width-1-1',
                            :placeholder => 'Latitude' %>
        </div>
        <div class="uk-width-1-4 uk-margin-top">
          <%= f.label :lon, 'Longitude', :class => 'input-label light' %>
          <%= f.text_field :lon,
                            :id => 'project-lon',
                            :class => 'uk-width-1-1',
                            :placeholder => 'Longitude' %>
        </div>
        <div class="uk-width-1-1 input-wrapper uk-margin-top">
          <%= f.label :name, 'Description', :class => 'uk-form-label uk-text-muted' %> 
          <%=  f.text_area :description,
                           :name => 'description',
                           :rows => '0',
                           :class => 'uk-width-1-1 char-limited',
                           :id => 'project-description',
                           :placeholder => 'Describe your project.',
                           :maxlength => 550 %>
          <small class='char-limit uk-invisible' data-limit='300'>300</small>
        </div>
    </div>
    <%= f.button "Next", :class=>'uk-button uk-button-primary uk-button-large uk-width-1-4 uk-float-right', :type => 'submit' %>
<% end %>