<%= form_for @map, :html => { :id => 'project-create-form' } do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>  
  <div class='row-form row group'>
    <div class='twenty-four columns'>
        <div class='input-wrapper'>
          <%= f.label :name, 'Title', :class => 'input-label light' %> <%=  f.text_area :name,
                           :name => 'name',
                           :rows => '0',
                           :class => 'char-limited h2-size',
                           :id => 'project-name',
                           :maxlength => 70 %><span class='char-limit font_small light invisible' data-limit='70'>70</span>
        </div>
    </div>
  </div> <!-- end row group -->
  <div class='row-form row group'>
    <div class='ten columns'>        
        <div class='input-wrapper'>
          <%= f.label :location, 'Location', :class => 'input-label light' %>
          <%= f.text_area :location,
                           :id => 'project-location',
                           :class => 'char-limited font_small' %>
        </div>
    </div>
    <div class='six columns offset-one'>
      <div class='input-wrapper'>
          <%= f.label :lat, 'Latitude', :class => 'input-label light' %>
          <%= f.text_area :lat,
                            :id => 'project-lat',
                            :class => 'char-limited font_small' %>
      </div>
    </div>
    <div class='six columns offset-one'>
      <div class='input-wrapper'>
          <%= f.label :lon, 'Longitude', :class => 'input-label light' %>
          <%= f.text_area :lon,
                            :id => 'project-lon',
                            :class => 'char-limited font_small' %>
      </div>
    </div>
  </div> <!-- end row group -->
  <div class='row-form row group'>
    <div class='twenty-four columns'>
        <div class='input-wrapper'>
          <%= f.label :title, 'Description', :class => 'input-label light' %><%=  f.text_area :description,
                           :rows => '0',
                           :class => 'char-limited',
                           :id => 'project-description',
                           :maxlength => 550 %><span class='char-limit light invisible font_small' data-limit='550'>550</span>
        </div>
    </div>
  </div> <!-- end row group -->

  <div class='row-form row group'>
    <div class='twenty-four columns'>
      <div class='input-wrapper'>
        <%= f.label :tags, 'Tags', :class => 'input-label light' %>
        <%#=  f.text_field :tags,
                         :class => 'tag-input',
                         :id => 'project-tag-list',
                         :placeholder => '#tags' %>
        <textarea id='project-tag_list' class='tag-input'></textarea>
        <div id='tag-container' class='tag-container'></div>
      </div>
    </div>
  </div> <!-- end row group -->
  <div class='row group'>
    <div class='four columns pull-right h-righted'>
        <button class='button-next'>
          <%= f.submit "Next" %>
        </button>
    </div>
  </div>
<% end %>
<section id="knitter-map-pane" class='hidden'></section>