
<article class='search-card mix' data-map-id='<%=card.id%>' data-updated='<%= card.updated_at %>' data-relevant='<%=card.search_order%>' data-popular='<%=card.whirls %>'>
	<a href='/maps/<%=card.slug%>' class="sc-cover uk-cover-background uk-overlay" style="background-image: url('<%=card.coverphoto_name%>');">
	    <img class="uk-invisible" src="<%=card.coverphoto_name%>" alt="Placeholder image for card.name">
	</a>

	<div class='uk-grid uk-grid-collapse'>
		<div class='sc-activity uk-width-2-10 uk-text-center'>
			<p>
				<i class='fa fa-users wh-text-green' data-uk-tooltip title="No. of collaborators"></i>
				<br><span id='sc-collabo-count' class='uk-text-small uk-text-muted'><%=card.collaborator_list.size %></span>
			</p>
			<p>
				<i class='fa fa-heart wh-text-green'></i> <br>
				<span id='sc-whirl-count' class='uk-text-small uk-text-muted' data-uk-tooltip title="No. of Whirls"> <%cnt = "30"%> <%= cnt %> <!--#card.whirls>--></span>
			</p>
			<p>
				<i class='fa fa-comment wh-text-green'></i>
				<br><span id='sc-comment-count' class='uk-text-small uk-text-muted'><%= "15"%>   <!--#card.comment_count --> </span>
			</p>
		</div>


		<div class='sc-main uk-width-8-10'>

			<div class='sc-header'>
				<h1 class='sc-title uk-h4 wh-caps uk-text-bold'>
					<a href='/maps/<%=card.slug%>'><%=card.name%></a>
				</h1>
			</div>


			<div class='sc-meta uk-text-muted uk-text-nowrap'>
				<span class='sc-location'><i class='fa fa-map-marker uk-text-muted'></i> <%= card.location %></span><br>
				<span class='sc-collabos'>
					<i class='fa fa-users wh-text-muted uk-text-small' data-uk-tooltip title="Project collaborators"></i>
					<% card.collaborator_list.each do |collabo| %>
							<a href="/users_profiles/<%=collabo[0]%>" class='uk-text-small wh-text-muted'><%=collabo[1]%></a>
					<% end %>
				</span>
				<hr>
			</div>

			<div class='sc-tags uk-text-small uk-width-1-1 uk-float-left uk-text-nowrap'>
				<span class='uk-text-small'><i class='fa fa-tag wh-text-muted'></i> </span>
				<% card.taglist.each do |tag| %>
					<a class='wh-text-muted' href='/search/<%=tag.name%>'><%=tag.name%></a>
				<% end %>
			</div>

		</div>

	</div>
</article>


