<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%=raw csrf_meta_tags %>
<title>Whirld:<%= @map[:name] ? @map[:name] : "New map" %></title>
<meta name="description" content="<%= @map.description.gsub('" ',"' ") if @map.description %>" />
<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'leaflet/dist/leaflet', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?v=3.2&sensor=false', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'mapknitter' %>
<%= javascript_include_tag 'main' %>