<div data-uk-sticky>
  <nav id='main-nav' class="wh-navbar uk-navbar uk-navbar-attached">
    <a class="uk-navbar-brand" href="/">Whirld</a>

    <div class='uk-navbar-content'>
      <%= link_to("Create", maps_new_path ) %>
    </div>

    <ul class="uk-navbar-nav uk-navbar-flip">
        <li class="uk-parent" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
            <a href="">kbasye<i class="fa fa-caret-down"></i> </a>

            <div class="uk-dropdown uk-dropdown-navbar" data-uk-dropdown="{mode:'click'}">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Separated item</a></li>
                </ul>
            </div>
        </li>
    </ul>
 <!-- addd form to this to add search  here -->
    <div class="uk-navbar-content uk-navbar-flip">
      <%= form_tag  search_path, :id => "search-form", :class => "uk-form uk-margin-remove uk-display-inline-block" do  %>
            <%= text_field_tag :query ,  nil,  id: "search-bar-keyword", placeholder: "Search" %>
            <%= text_field_tag :location, nil, id: "search-bar-location" %>
            <%= submit_tag "submit", class: "search-go uk-button uk-button-primary", id:"search-bar-go" %>
            <%end%>
            <!--need to for button: i class='fa fa-search' -->
        </form>
   </div>
  </nav>

  <% if className == 'search' %>
    <%= render :partial => "maps/search_pieces/filter_bar" %>
  <% end %>
</div>
