<!DOCTYPE html>
<html>
<head>
  <head>
  <%= render "layouts/applicationheader" %>
  </head>
  <body>
  <%= render "layouts/topnavbar" %>

  <%= yield %>

<%= javascript_include_tag "stickyNavbar.js/jquery.easing.min.js" %>
<%= javascript_include_tag "stickyNavbar.js/jquery.stickyNavbar.min.js" %>
<%= javascript_include_tag "autosize/dest/autosize.min.js" %>

</body>
</html>
