<!DOCTYPE html>
<html>
<head>
  <head>
  <%= render :partial =>  "layouts/header_application" %>
  </head>
  <body>
 <%= render :partial =>  "/layouts/nav_main" %>

  <%= yield %>

<%= javascript_include_tag "stickyNavbar.js/jquery.easing.min.js" %>
<%= javascript_include_tag "stickyNavbar.js/jquery.stickyNavbar.min.js" %>
<%= javascript_include_tag "juxtapose/build/js/juxtapose.min" %>

</body>
</html>