<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
<%= render "layouts/header_map" %>
</head>
<body>
<% if @photo_manager %>
	<%= render "layouts/nav_map_info" %>
<% else %>
	<%= render "layouts/nav_main" %>
<% end %>

<%= yield %>

<script><%= render :partial => 'maps/mappane', :formats => [:js] %></script>
<%= javascript_include_tag "stickyNavbar.js/jquery.easing.min.js" %>
<%= javascript_include_tag "stickyNavbar.js/jquery.stickyNavbar.js" %>

<% if @extra_js %>
	<%= javascript_include_tag "autosize/dest/autosize.min.js" %>
	<%= javascript_include_tag "project-new.js" %>
<% end %>

</body>
</html>