<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<%=raw csrf_meta_tags %>
	<title>Whirld: Search</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<%= render :partial => 'layouts/css_all' %>
</head>

<body>
<%= render "layouts/nav_main", :className=> 'search' %>

<%= yield %>

<%= render :partial => 'layouts/js_all' %>

<!-- Temporary data link -->
 <script src="javascripts/test_data.geojson" type="text/javascript"></script>

<%= javascript_include_tag "project-search.js" %>

</body>
</html>