<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
<%= render "layouts/header_map" %>
</head>
<body>
<% if @photo_manager %>
	<%= render "layouts/nav_map_info" %>
<% else %>
	<%= render "layouts/nav_main" %>
<% end %>

<%= yield %>

<script><%= render :partial => 'maps/mappane', :formats => [:js] %></script>
<%= javascript_include_tag "stickyNavbar.js/jquery.easing.min.js" %>
<%= javascript_include_tag "stickyNavbar.js/jquery.stickyNavbar.js" %>

<!-- JS for project editor -->
<% if @extra_js %>
	<%= javascript_include_tag "autosize/dest/autosize.js" %>	
	<%= javascript_include_tag "project-editor/modules.js" %>
	<%= javascript_include_tag "project-editor/button-bar.js" %>
	<%= javascript_include_tag "project-editor/images.js" %>
	<%= javascript_include_tag "project-editor/mod-photos.js" %>
	<%= javascript_include_tag "project-editor/forms.js" %>
	<%= javascript_include_tag "project-editor/project-new.js" %>
<% else %>
	<!-- JS for read pages -->
	<%= javascript_include_tag "isotope/dist/isotope.pkgd.js" %>
	<%= javascript_include_tag "isotope-packery/packery-mode.pkgd.js" %>
	<%= javascript_include_tag "juxtapose/build/js/juxtapose.js" %>
	<%= javascript_include_tag "project-show.js" %>
<% end %>

</body>
</html>